<h1>Room <em><%= resource.token %></em></h1>

<%= hidden_field_tag :pusher_api_key, ENV['PUSHER_APP_KEY'] %>

<div class="results-container">
</div>


<script type="text/html" data-template-name="user">
  <li>{{email}}</li>
</script>