/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require app_bootstrap
 *= require_self
 */

@import "compass/css3";

body {
  padding-top: 60px;
}

.navbar-fixed-top .navbar-inner {
  padding: 0 20px;
}

.btn-group img {
  width: 20px;
  height: 20px;
  margin: -2px 4px 0 0;
  @include border-radius(3px);
}

.sidebar {
  position: absolute;
  width: 280px;
  padding: 10px;
  border: 1px solid #cdcdcd;
  background-color: #fafafa;
  @include border-radius(4px);

  @include box-shadow(0 0 8px rgba(0, 0, 0, 0.1));

  h3 {
    margin: 0 0 10px;
    line-height: 30px;
  }

  .actions {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-top: 20px;
    @include box-sizing(border-box);
    padding: 10px;
    border-top: 1px solid #cdcdcd;
  }
}

.game-area {
  margin-left: 320px;
}

.cards-container, .player-cards-container {
  ul {
    list-style: none;
    margin: 0;

    li {
      display: inline-block;

      &.selected {
        .card {
          width: 80px;
          height: 80px;
          margin: 0 10px;
          line-height: 80px;
          @include box-shadow(0 0 16px 0px rgba(0, 0, 0, 0.3));
          text-decoration: none;
          outline: none;
        }
      }
    }
  }
}

.player-cards-container {
  li {
    position: relative;
    padding: 10px;
    border: 1px solid #f7f7f7;
    height: 80px;
    margin: 10px;
    @include border-radius(4px);
    @include box-shadow(0 0 16px 0 rgba(0, 0, 0, 0.3));

    &.empty {
      border: 0;
      @include box-shadow(none);
    }

    .card {
      margin-left: 85px;

      &:hover {
        @include box-shadow(0 0 16px -4px rgba(0, 0, 0, 0.2));
        cursor: default;
        color: #0088cc;
      }
    }

    img {
      position: absolute;
      top: 50%;
      left: 17px;
      margin-top: -29px;
    }
  }
}

.card {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 10px;
  line-height: 60px;
  font-size: 32px;
  border: 1px solid #dedede;
  background: #fafafa;
  @include border-radius(4px);
  @include box-shadow(0 0 16px -4px rgba(0, 0, 0, 0.2));
  @include transition(box-shadow 0.2s ease-out, width 0.2s ease-out, height 0.2s ease-out, line-height 0.2s ease-out, margin 0.2s ease-out);

  &:hover {
    text-decoration: none;
    @include box-shadow(0 0 16px 0px rgba(0, 0, 0, 0.3));
  }
}

.users-container {
  ul {
    list-style: none;
    margin: 0;
    min-height: 335px;

    li {
      display: inline-block;
      margin: 0 5px;

      &:first-child {
        margin-left: 0;
      }

      img {
        @include box_shadow(0 0 16px 2px rgba(0, 0, 0, 0.2));
      }

      &.user.me img {
        @include box_shadow(0 0 16px 2px rgba(230, 237, 43, 0.7));
      }
    }
  }
}
